

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>

		<div class="col-md-4" style="padding-top: 150px;">
			<div class="card">
				<div class="card-header card-header-primary">
					<h4 class="card-title" style="padding-top: 20px;">Giriş</h4>
					<p class="card-category">Otomasyon Giriş Ekranı</p>
				</div>
				<div class="card-body">
					<%= form_for :session, url: session_path do |form| %>          
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Kullanıcı Adı</label>
								<%= form.text_field :user_name, class: "form-control" %>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="bmd-label-floating">Password</label>
								<%= form.password_field :password, class: "form-control" %>
							</div>
						</div>
					</div>

					<%= form.submit "Giriş Yap",class: "btn btn-primary btn-block" %>


					<div class="clearfix"></div>
					<%end%>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>