 <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

  <div class="logo">
    <a href="#" class="simple-text logo-normal">
      Video Portal
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">person_pin</i>
          <p>Profilim</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">videocam</i>
          <p>Videolar</p>
        </a>
      </li>          


      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">import_export</i>
          <p>Atamalar</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="material-icons">group</i>
          <p>Kullanıcılar</p>
        </a>
      </li>
      <%if signed_in?%>      
      <li class="nav-item ">
        <a class="nav-link" href="<%=logout_path%>"  data-method="delete">
          <i class="material-icons">power_settings_new</i>
          <p>Çıkış</p>
        </a>
      </li>
      <%end%>
    </ul>
  </div>
</div>
