
$('.items').append(
	'<tr><td>'
	+<%=@tecnichsale.id%>+
	'</td><td>'
	+<%=@tecnichsale.product_id%>+
	'</td><td>'
	+<%=@tecnichsale.unit%>+
	'</td><td>'
	+<%=@tecnichsale.total_price%>+
	'</td></tr>');