<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @faultreq.description %>
</p>

<%= link_to 'Edit', edit_faultreq_path(@faultreq) %> |
<%= link_to 'Back', faultreqs_path %>
