
$('.items').append(
	'<tr><td>'
	+<%=@salesproduct.id%>+
	'</td><td>'
	+<%=@salesproduct.product_id%>+
	'</td><td>'
	+<%=@salesproduct.unit%>+
	'</td><td>'
	+<%=@salesproduct.total_price%>+
	'</td></tr>');